body {
  background-color: #242424;
  color: #f1f1f1;
}

h1 {
  text-align: center;
  font-size: 65px;
  text-align: center;
  text-decoration: underline;
}

.items {
  display: flex;
  margin: 0 auto;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.item {
  width: 140px;
  height: 140px;
  padding: 20px;
  min-width: 140px;
  border-radius: 50%;
  background: #000;
  font-size: 45px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.item span {
  text-transform: uppercase;
}

.unsued-css {
  background: yellow;
}